<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>My book shelf</title>
  <style>
    #root_container{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    #books{
        width: 50%;
        border-collapse: collapse;
    }

    table{
        margin: 25px;
    }

    th{
        text-align: left;
    }

    th, td{
        border-bottom: 1px solid #ddd;
    }
  </style>
</head>
<body>

<div id="root_container">
    <a th:href="@{/auth}" >Out</a>
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <!--      table row-->
                <td>
                    <!--table data-->
                    <input type="text" placeholder="author" id="author" th:field="*{author}">
                    <p th:if="${#fields.hasErrors('author')}">field must be not empty</p>
                </td>
                <td>
                    <input type="text" placeholder="book_title" id="title" th:field="*{title}">
                    <p th:if="${#fields.hasErrors('title')}">field must be not empty</p>
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" id="size" th:field="*{size}">
                    <p th:if="${#fields.hasErrors('size')}" >field value must be not empty, digit and less than 4 signs</p>
<!--                    th:text="${#fields.detailedErrors('size')}"-->
                </td>
                <td>
                    <input type="submit" value="save" >
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove/id}" th:object="${bookIdToAction}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                    <p th:if="${#fields.hasErrors('id')}">Set id to remove</p>
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove/author}" th:object="${bookAuthorToAction}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                    <p th:if="${#fields.hasErrors('author')}">Set author to remove</p>
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove/title}" th:object="${bookTitleToAction}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="title" th:field="*{title}">
                    <p th:if="${#fields.hasErrors('title')}">Set title to remove</p>
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove/size}" th:object="${bookSizeToAction}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="size" th:field="*{size}">
                    <p th:if="${#fields.hasErrors('size')}">Set size to remove</p>
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
            </tr>
        </table>
    </form>

    <!--                <td>-->
    <!--                    <input type="text" placeholder="author" th:name="bookAuthorToAction">-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    <input type="text" placeholder="title" th:name="bookTitleToAction">-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                    <input type="text" placeholder="size" th:name="bookSizeToAction">-->
    <!--                </td>-->

<!--    <form method="post" th:action="@{/books/filter}">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <input type="text" placeholder="author" th:name="bookAuthorToFilter">-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="text" placeholder="title" th:name="bookTitleToFilter">-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="text" placeholder="size" th:name="bookSizeToFilter">-->
<!--                </td>-->
<!--                <td>-->
<!--                    <input type="submit" value="filter">-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->

    <form method="post" th:action="@{/books/filter/ultra}" th:object="${bookFilter}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="filter">
                </td>
            </tr>
            <tr>
                <p th:if="${#fields.hasErrors('author')} and ${#fields.hasErrors('title')} and ${#fields.hasErrors('size')}">Set any parameters to filter</p>
            </tr>
        </table>
    </form>

    <p th:if="${errorMessage}">You didn't choose the file to upload, please try again!!!</p>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file"/>
                </td>
                <td>
                    <input type="submit" value="Upload">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/downloadFile}"
          enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file" />
                </td>
                <td>
                    <input type="submit" value="Download" >
                </td>
            </tr>
        </table>
    </form>

    <form method="get" th:action="@{/books/shelf}">
        <input type="submit" value="disable filter">
    </form>

    <table id="books">
        <tr>
            <th>id</th>
<!--            table header-->
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>

        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>

    </table>

</div>

</body>
</html>